.navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: white;
  box-shadow: 10px 0 $primary;
  transition: transform 0.5s;

  &.hidden {
    transform: translateX(calc(-100% - 10px));
  }
  
  &.show {
    display: block;
  }

  .closeButton {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    color: white;
    background-color: $primary;
    text-decoration: none;
    
    span {
      font-size: 1rem;
      margin-left: 10px;
    }
  }

  ul {
    padding: 20px 5px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 50px;
    font-size: 1rem;
    color: $very-dark-primary;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 25px;

    .nav-title {
      font-size: 1rem;
      margin-left: 10px;
      white-space: nowrap;
    }

    &:hover {
      background-color: $little-dark-white;
    }

    &.active {
      background-color: $primary;
      color: white;
    }
  }
}

@media screen and (min-width:1024px) {
  .navigation {
    width: 60px;
    overflow-x: hidden;

    transition: width 0.5s;

    &:hover {
      width: 300px;
    }
    
    &.hidden {
      display: block;
      transform: translate(0);
    }

    .nav-item {
      padding: 0;
      color: $very-dark-primary;
      text-decoration: none;
      font-size: 1.5rem;
      border-radius: 25px;

      .nav-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-left: 2.5px;  
      }
  
      .nav-title {
        font-size: 1rem;
        margin-left: 10px;
      }
    }
  }
}