$primary: hsl(213, 100%, 50%);
$primary-medium: hsl(213, 100%, 35%);
$primary-dark: hsl(213, 100%, 10%);
$primary-dark-medium: hsl(213, 100%, 4%);
$primary-darker: hsl(212, 50%, 4%);

$secondary: hsl(47, 100%, 50%);
$secondary-dark: hsl(47, 100%, 10%);

$green: hsl(133, 88%, 43%);
$light-green: hsl(133, 88%, 93%);

$white: hsl(0, 0%, 100%);
$little-dark-white: hsl(0, 0%, 91%);
$light-gray: hsl(0, 0%, 80%);
$gray: hsl(0, 0%, 70%)