.index-page {
  min-height: 100vh;
  padding-top: 50px;
  background-color: $very-dark-primary;
  padding: 50px;

  .intro-container {
    display: flex;
    justify-content: center;
    cursor: pointer;

    img {
      max-width: 1200px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .bannerDesktop, .bannerMobile {
      max-height: 350px;
    }

    .bannerMobile {
      display: none;
    }

    @media screen and (max-width: 800px) {
      .bannerMobile {
        display: block;
      }

      .bannerDesktop {
        display: none;
      }
    }
  }
  .products-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: $little-dark-white;
    border-radius: 5px;

    .wrapper {
      margin: 0 auto;
      max-width: 1200px;
      padding: 50px;

      h2 {
        display: block;
      }
    }
  }
}
