.loja-container {
  padding: 70px 0 0;

  .profile {
    text-align: center;
    padding: 0 10px 20px;

    .wrapper {
      max-width: 1200px;
      margin: 0 auto;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 10px solid $primary;
      }
  
      .contato {
        display: inline-flex;
        align-items: center;
        background-color: $secondary;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 10px;
        margin-top: 10px;

        &:hover {
          filter: brightness(1.1);
        }
        
        svg {
          margin-right: 5px;
        }
      }
    }
  }

  .loja-products-container {
    background-color: $little-dark-white;

    header {
      background-color: $primary;
      padding: 10px;

      .wrapper {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;

        input {
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          margin-bottom: 10px;
          outline: none;

          &:focus {
            outline: 2px solid $secondary;
          }
        }

        .categories{
          display: flex;
          position: relative;
          flex-shrink: 0;
          overflow-x: auto;
          gap: 10px;
          list-style: none;
          cursor: grab;

          &::after {
            content: 0;
            position: absolute;
            inset: 0;
            background: linear-gradient($primary, rgba(0,0,0,0), $primary);
          }

          div button{
            background: white;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            border-radius: 12px;
            padding: 2px 5px;
            color: $primary;
            cursor: pointer;
            transition: 0.1s;
            
            &:hover {
              background: $secondary;
              color: white;
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }         
      }
    }

    .products .wrapper {
      display: flex;
      gap: 35px;
      flex-wrap: wrap;
      padding: 20px;
      max-width: 1200px;
      margin: 0 auto;

      .products-end {
        text-align: center;
        width: 100%;
        color: rgb(119, 119, 119);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 70px 0 0 69px;

    .profile .wrapper {
      display: flex;

      div:first-child {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 20px;
      }
    }
  }
}