.product-page {
  padding-top: 70px;

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

    img {
      width: 100%;
      height: 300px;
      object-fit: contain;
    }

    h1 {
      text-align: center;
      font-size: 1.5rem;
    }

    .ratings {
      margin-top: 100px;
      > div {
        margin-bottom: 15px;
      }
    }
  }
}