@import 'colors';

@import 'header';
@import 'index';
@import 'loja';
@import 'productList';
@import 'productItem';
@import 'sidenav';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.desktop-only {
  display: none !important;
}

@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none !important; 
  }
}