#sidebar{
background: rgb(0%, 24%, 54%);
grid-area: aside;
padding: 2.0rem;
right: -100%;
-webkit-transition: all 0.5;
transition: all 0.5s;
}


.sidebar-title{
display:flex;
justify-content: center;
align-items: center;
padding-bottom: 15px;
padding-top: 20px;
}

.sidebar-title > div > h5{
margin-top: 20px;
color: white;
display: inline;
}

.sidebar-img{
display: flex;
flex-direction: column;
align-items: center;
}

.sidebar-title > div > img{
width: 120px;
}


.sidebar-title > i{
font-size: 14px;
display: none;
}
.sidebar-link{
color: white;
padding: 10px;
}

.active-menu-link{
color: white !important;
}


.sidebar-link > a {
text-decoration: none;
color: white;
font-weight: 500;
padding-left: 10px;
}

.sidebar-link a:focus{
background: rgba(255, 255, 255, 0.178);
border-radius: 4px;
transition: 0.2s;
}

.line-dashboard{
left: 7.84%;
right: 10px;
top: 58.28%;
bottom: 41.72%;
padding-top: 0.01px;
padding-bottom: 0.01px;
border: 0.01px solid rgba(251, 251, 251, 0.41);
}

.sidebar-logout{
font-size: 14px;
padding-top: 20px;
padding-left: 10px;
color: white;
}

.sidebar-logout > a {
text-decoration: none;
color: white;
font-weight: 500;
padding-left: 10px;
}

.sidebar-logout a:focus{
    padding: 5px;
    background: rgba(255, 255, 255, 0.178);
    border-radius: 4px;
    transition: 0.2s;
    }

.sidebar-responsive{
display: inline !important;
z-index: 9999 !important;
position: absolute;
}
